## 1) Problem Statement:

* This project understands how the price or value of a automobile is affected by variables such as Mileage, Year, or Make/Model. Understanding if a specif

## 2) Data Collection:

* As of now, the Data is gathered from the Craigslist Website for used automobiles being sold only by private dealers from specific locations in Texas, such as Dallas, Houston, and Austin.
* The Data consists of 15 columns and 6226 instances.

### Import Data and Required Packages:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

### Import Data as Pandas DataFrame:

In [3]:
import sqlite3

with sqlite3.connect(r'C:\Users\goodn\Documents\code\notebook\data\Sqlite.db') as conn:
    query = "SELECT * FROM AttributesTable"   
    df = pd.read_sql(query, conn)
print(df.head())

      Post ID condition: fuel:  odometer:        type: paint color:  \
0  7826021982       good   gas   183090.0          SUV        black
1  7826018945  excellent   gas    71279.0       pickup        white
2  7826018781  excellent   gas   154000.0          SUV        white
3  7826018042       good   gas   140000.0  convertible         blue
4  7826016532       good   gas   107000.0        sedan        white

  title status:               VIN: transmission:  Year    Price  \
0         clean               None     automatic  2006   1500.0
1          lien  1FTFW1E8XNFB23421     automatic  2022  55900.0
2         clean               None     automatic  2016   6999.0
3         clean               None        manual  2001  22900.0
4         clean               None     automatic  2013   8500.0

                                Model   cylinders: drive:
0              Toyota RAV4 Standard\n  6 cylinders    fwd
1              Ford F-150 SuperCrew\n  6 cylinders    4wd
2               jeep cherokee sport\n  4 cylinders    fwd
3   honda s2000 convertible 6 speed\n  4 cylinders    rwd
4                      chrysler 300\n  6 cylinders    fwd